<!---->

{% if version.endswith('dev') %}

<h3 style="color: white; background-color: IndianRed; border: 1px solid #9B9886;">Development Version</h3>
<p>You are reading <b>{{ version }}</b> docs.  
   See the upcoming <a href="{{ pathto("changes") }}">changes</a> or
   get them from <a href="https://bitbucket.org/abakan/prody">Bitbucket</a> repository.
</p>
<p>Click <a href="../{{ pathto("index") }}">here</a> for the documentation of
   the latest release.
</p>

{% else %}

<h3 style="color: white; background-color: IndianRed; border: 1px solid #9B9886;">Latest Release</h3>
<p><b>v{{ version }}</b> comes with Python 3 support and new sequence analysis
features. See <a href="{{ pathto("changes") }}">changes</a> or 
go to <a href="{{ pathto("getprody") }}">downloads</a>.</p> 

<p>You can also read the docs for the 
  <a href="{{ pathto("latest/index") }}">development</a> version.</p>

{% endif %}
