<h3>Groups and Tracker</h3>

<p>To stay up to date, join the 
<a href="http://groups.google.com/group/prody-news" target="_blank">ProDy-news</a>
Google group:
<form action="http://groups.google.com/group/prody-news/boxsubscribe"
      style="padding-left: 5px">
  <input type="text" name="email" value="your@email" size="12"/>
  <input type="submit" name="Subscribe" value="Subscribe" />
</form>
</p>

For suggestions or problems, open an issue at the
<a href="https://bitbucket.org/abakan/prody/issues" target="_blank">tracker</a>.</p>
