{% extends "layout.html" %}
{% set title = 'Overview' %}
{% block body %}
  <h1>Welcome</h1>

  <div class="quotebar">
    <h3>Quick ANM Example</h3>
    <div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">from</span> <span class="nn">prody</span> <span class="kn">import</span> <span class="o">*</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">pdb</span> <span class="o">=</span> <span class="n">parsePDB</span><span class="p">(</span><span class="s">'1p38'</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">ca</span> <span class="o">=</span> <span class="n">pdb</span><span class="o">.</span><span class="n">select</span><span class="p">(</span><span class="s">'calpha'</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">anm</span> <span class="o">=</span> <span class="n">ANM</span><span class="p">(</span><span class="s">'p38_MAPK'</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">anm</span><span class="o">.</span><span class="n">buildHessian</span><span class="p">(</span><span class="n">ca</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">anm</span><span class="o">.</span><span class="n">calcModes</span><span class="p">(</span><span class="n">6</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">writeNMD</span><span class="p">(</span><span class="s">'p38_anm.nmd'</span><span class="p">,</span> <span class="n">anm</span>,</span> <span class="n">ca</span><span class="p">)</span></pre></div>
    </div>    
    <span class="linkdescr">Reads a p38 PDB structure, selects Cα atoms, performs ANM calculations, and outputs slow modes in NMD format for visualization using NMWiz.</span>
  </div>

  <p>
    <i>ProDy</i> is a free and open-source Python package for analysis and modeling of protein 
    structural dynamics.  It allows for efficient analysis of large datasets and 
    is suitable for development or prototyping of structure-based analysis and modeling software. 
  </p> 
  <p>
    <i>ProDy</i> is designed and developed by 
    <a href="http://www.ccbb.pitt.edu/People/abakan/" target="_blank">Ahmet Bakan</a> 
    in <a href="http://www.ccbb.pitt.edu/Faculty/bahar/" target="_blank">Bahar lab</a> 
    at the <a href="http://www.pitt.edu" target="_blank">University of Pittsburgh</a>.
  </p>
  <p>See <a href="{{ pathto("getprody") }}">Getting ProDy</a> for downloads and 
    installation instructions. 
    To learn how to use <i>ProDy</i> start from the 
     <a href="{{ pathto("tutorial/index") }}">Tutorial</a>, 
     or from one of the following examples:
  </p>
  <ul>
    <li> <b>Examination and analysis of structural variability 
            observed in experiments:</b>
      <ul>
        <li> Fast and <a href="{{ pathto("examples/proteins/parsepdb") }}">flexible parsing</a> of PDB and <a href="{{ pathto("examples/trajectory/trajectory") }}">DCD</a> files </li>
        <li> Powerful and customizable <a href="{{ pathto("reference/atomic/select") }}">atom selections</a> and <a href="{{ pathto("examples/measure/contacts") }}">contact identification</a> </li>
        <li> <a href="{{ pathto("examples/proteins/compare") }}">Matching, superposing, and comparing</a> multiple structures/chains </li>
        <li> <a href="{{ pathto("examples/dynamics/pca/index") }}">PCA</a> of <a href="{{ pathto("examples/dynamics/pca/pca_xray_calculations") }}">X-ray structures</a>, 
        <a href="{{ pathto("examples/dynamics/pca/pca_nmr") }}">NMR models</a> and mixed structural datasets <a href="{{ pathto("examples/dynamics/pca/pca_blast") }}">from Blast search</a> </li>
      </ul>
    </li>
    <li> <b>Prediction and analysis of protein dynamics using theory and simulation:</b>
      <ul> 
        <li> Normal Mode Analysis using the <a href="{{ pathto("examples/dynamics/enm/anm") }}">Anisotropic network model</a> (ANM) </li>
        <li> <a href="{{ pathto("examples/dynamics/enm/gnm") }}">Gaussian network model</a> (GNM) analysis </li>
        <li> <a href="{{ pathto("examples/dynamics/enm/gamma") }}">Distance</a> and <a href="{{ pathto("reference/dynamics/gamma") }}">property</a> dependent force constant functions </li>
        <li> <a href="{{ pathto("examples/dynamics/pca/eda") }}">Essential dynamics analysis</a> (EDA) of MD snapshots </li>
        <li> <a href="{{ pathto("examples/dynamics/pca/pca_xray_plotting") }}">Comparative analysis</a> and <a href="{{ pathto("plugins/index") }}">visualization</a> of dynamics </li>
      </ul>
    </li>
  </ul>

  <div class="admonition note"> 
    <p class="first admonition-title">Featured Publication</p> 
    <p class="last">
      <ul>
        <li>
        <div class="line"><a class="reference external" href="http://bioinformatics.oxfordjournals.org/content/27/11/1575.full.pdf" target="_blank"><img alt="pdf" src="_images/pdf.png" /></a> 
        <a class="reference external" href="http://bioinformatics.oxfordjournals.org/content/27/11/1575" target="_blank">ProDy: Protein Dynamics Inferred from Theory and Experiments</a></div> 
        <div class="line">Bakan A, Meireles LM, Bahar I. <strong>2011</strong> <em>Bioinformatics</em> 27(11):1575-1577.</div> 
        </li>
        <li>
        <div class="line"><a class="reference external" href="http://www.pnas.org/content/106/34/14349.full.pdf" target="_blank"><img alt="pdf" src="_images/pdf.png" /></a> 
        <a class="reference external" href="http://www.pnas.org/content/106/34/14349.long" target="_blank">The intrinsic dynamics of enzymes plays a dominant role in 
          determining the structural changes induced upon inhibitor binding</a></div> 
        <div class="line">Bakan A, Bahar I. <strong>2009</strong> <em>Proc Natl Acad Sci U S A</em> 106(34):14349-14354.</div> 
        </li>
        <li>
          <i>See more in <a href="{{ pathto("publications") }}">Publications</a></i>.
        </li>
      </ul> 
    </p> 
  </div> 
  
  <h2>Documentation</h2>

  <table class="contentstable" align="center" style="margin-left: 30px"><tr>
    <td width="50%">
      <p class="biglink"><a class="biglink" href="{{ pathto("tutorial/index") }}">Tutorial</a><br/>
         <span class="linkdescr">overview of basic tasks</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("reference/index") }}">Reference</a><br/>
         <span class="linkdescr">classes and functions</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("plugins/index") }}">NMWiz</a><br/>
         <span class="linkdescr">NMWiz VMD plugin</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("publications") }}">Publications</a><br/>
         <span class="linkdescr">list of relevant publications</span></p> 
      <p class="biglink"><a class="biglink" href="{{ pathto("people") }}">People</a><br/>
         <span class="linkdescr">developers and contributors</span></p> 
      <p class="biglink"><a class="biglink" href="{{ pathto("funding") }}">Funding</a><br/>
         <span class="linkdescr">funding and support</span></p> 
      <p class="biglink"><a class="biglink" href="{{ pathto("changes") }}">Changes</a><br/>
         <span class="linkdescr">history of changes</span></p> 
      <p class="biglink"><a class="biglink" href="{{ pathto("search") }}">Search page</a><br/>
         <span class="linkdescr">search the documentation</span></p>
    </td><td width="50%" valign="top">
      <p class="biglink"><a class="biglink" href="{{ pathto("examples/index") }}">Examples</a><br/>
         <span class="linkdescr">usage examples</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("contents") }}">Contents</a><br/>
         <span class="linkdescr">for a complete overview</span></p> 
      <p class="biglink"><a class="biglink" href="{{ pathto("apps/index") }}">Applications</a><br/>
         <span class="linkdescr">command line applications</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("reports/index") }}">Reports</a><br/>
         <span class="linkdescr">development/performance notes</span></p> 
      <p class="biglink"><a class="biglink" href="{{ pathto("credits") }}">Credits</a><br/>
         <span class="linkdescr">required/incorporated software</span></p> 
      <p class="biglink"><a class="biglink" href="{{ pathto("bibliography") }}">Bibliography</a><br/>
         <span class="linkdescr">list of cited articles</span></p> 
      <p class="biglink"><a class="biglink" href="{{ pathto("license") }}">License</a><br/>
         <span class="linkdescr">ProDy and third party licenses</span></p> 
      <p class="biglink"><a class="biglink" href="{{ pathto("genindex") }}">General Index</a><br/>
         <span class="linkdescr">all functions, classes, terms</span></p>
    </td></tr>
  </table>
{% if not version.endswith('dev') %}
  <p>
    You can also download <a href="ProDy.pdf" target="_blank">PDF version</a> of the ProDy 
    documentation generated from the LaTeX Sphinx procedures.
  </p>
{% endif %}
  <h2>Get ProDy</h2>
  <p><b>Downloads and Installation</b> instructions can be found at  
    <a href="{{ pathto("getprody") }}">Getting ProDy</a>.
  </p>
  
{% endblock %}
