{% extends "!layout.html" %}
{% set script_files = script_files + ["_static/prody_common.js"] %}
{% block extrahead %}
{{ super() }}
{%- if not embedded %}

<style type="text/css">
  table.right { float: right; margin-left: 20px; }
  table.right td { border: 1px solid #ccc; }
</style>
{%- endif %}
<meta http-equiv="expires" content="-1">
<!--
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
-->
{% endblock %}

{% block rootrellink %}
    {% if version.endswith('dev') %}
        <li><a><img src="{{ pathto("_static/dev.png", 1) }}" alt="You are reading development version docs" style=""></a></li>
    {% endif %}
        <li>
            <img src="{{ pathto("_static/text-dec.png", 1) }}" onclick="changeFontSize(-1)" title="Decrease text size" style="cursor: pointer; vertical-align: -8px;">
            <img src="{{ pathto("_static/text-org.png", 1) }}" onclick="changeFontSize(0)" title="Default text size" style="cursor: pointer; vertical-align: -8px;">
            <img src="{{ pathto("_static/text-inc.png", 1) }}" onclick="changeFontSize(+1)" title="Increase text size" style="cursor: pointer; vertical-align: -8px;">
        </li>
        <li><a href="{{ pathto('index') }}">Home</a>|&nbsp;</li>
        <li><a href="{{ pathto('contents') }}">Contents</a> &raquo;</li>
{% endblock %}

{% block header %}
<script type="text/javascript">checkFontSize()</script>
<div style="background-color: white; text-align: left; padding: 10px 10px 15px 15px">
<a href="{{ pathto("index") }}">
<img src="{{ pathto("_static/logo.png", 1) }}" alt="ProDy logo" id="logo" />
</a>
</div>
<script type="text/javascript">
if (document.URL.search("\/plugins\/") > -1) {
  element = document.getElementById("logo");
  logo.src = "{{ pathto("_static/nmwiz.png", 1) }}";
}
</script>
{% endblock %}
{% block document %}
<div style="float: right; margin-top: 10px; margin-right: 30px"><g:plusone size="medium" count="false"></g:plusone></div>
{{ super() }}
{% endblock %}
